<ot-list-screen-container [header]="'Firm' | translate" [breadcrumbItems]="breadcrumbItems" [showAsDetail]="isEmbedded">
  <kendo-grid [data]="isEmbedded ? dataList : dataService.activeList" [loading]="dataService.loading" [height]="615"
    [pageable]="listParams.pageable" [pageSize]="listParams.take" [skip]="listParams.skip"
    [sortable]= "true" [sort]="listParams.sort"
    [filterable]="true" [filter]="listParams.filter" 
    (dataStateChange)="handleDataStateChange($event)"
  >
    <kendo-grid-command-column *ngIf="createEnabled || updateEnabled || deleteEnabled" title="" [width]="commandColumnWidth" locked="true">
      <ng-container *ngIf="createEnabled">
        <ng-template kendoGridHeaderTemplate>
          <ot-button [caption]="'New' | translate" icon="fas fa-plus" (onClick)="showDialog(editScreen, 'Create')" [outline]="true" [block]="false" color="primary" size="sm"></ot-button>
        </ng-template>
      </ng-container>
      <ng-container *ngIf="updateEnabled || deleteEnabled">
        <ng-template kendoGridCellTemplate let-dataItem>
          <ot-light-button *ngIf="updateEnabled" color="primary" otTooltip="{{ 'Update' | translate }}" icon="fas fa-edit" (onClick)="showDialog(editScreen, 'Update', dataItem)"></ot-light-button>
          <ot-light-button *ngIf="deleteEnabled" color="danger" otTooltip="{{ 'Delete' | translate }}" icon="fas fa-trash-alt" (onClick)="showDialog(editScreen, 'Delete', dataItem)"></ot-light-button>
        </ng-template>
      </ng-container>
    </kendo-grid-command-column>
    <kendo-grid-column field="Name" [title]="'Name' | translate" width="180"></kendo-grid-column>
    <kendo-grid-column field="FirmType" [title]="'Firm Type' | translate" width="180">      <ng-template kendoGridFilterCellTemplate let-dataItem>
        <ot-dropdown-list-filter
          [data]="firmTypeService.completeList"
          valueField="FirmTypeId"
          textField="Name"
          memberField="FirmType"
          [filter]="listParams.filter">
        </ot-dropdown-list-filter>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.FirmType | getName:'FirmTypeId':'Name':firmTypeService.completeList }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="Comment" [title]="'Comment' | translate"></kendo-grid-column>
    <ng-template kendoGridDetailTemplate let-dataItem>
      <ot-tab-strip>
        <ot-tab-page [title]="'Firm Contacts' | translate" active="true">
          <ot-firm-contact-list [isEmbedded]="true" [leftRelationId]="dataItem.FirmId" [leftRelationObject]="dataItem"></ot-firm-contact-list>
        </ot-tab-page>
      </ot-tab-strip>
    </ng-template>
  </kendo-grid>
</ot-list-screen-container>
<ot-firm-edit #editScreen screenName="ot-firm-edit"></ot-firm-edit>
