<ot-edit-screen-container #container>
  <form #form="ngForm" [formGroup]="container.mainForm" (ngSubmit)="onSubmit()" class="form-horizontal row">
    <ot-alpha-entry formControlName="ProductPropertyId" [caption]="'Product Property Id' | translate" class="col-12" [ngClass]="{'ot-hidden': container.isIdentityHidden}" [isReadOnly]="!container.isIdentityEditable"></ot-alpha-entry>
    <ot-dropdown-entry formControlName="Product" [caption]="'Product' | translate" [isReadOnly]="container.masterId" [items]="container.masterId ? [container.masterObject] : productService.completeList" textField="Name" valueField="ProductId" usePrimitiveValue="true" class="col-12" [loading]="productService.loading"></ot-dropdown-entry>
    <ot-dropdown-entry formControlName="PropertyType" [caption]="'Property Type' | translate" [items]="propertyTypeService.completeList" textField="Name" valueField="PropertyTypeId" usePrimitiveValue="true" class="col-12" [loading]="propertyTypeService.loading"></ot-dropdown-entry>
    <ot-alpha-entry formControlName="Value" [caption]="'Value' | translate" class="col-12"></ot-alpha-entry>
  </form>
</ot-edit-screen-container>
