<ot-edit-screen-container #container>
  <form #form="ngForm" [formGroup]="container.mainForm" (ngSubmit)="onSubmit()" class="form-horizontal row">
    <ot-alpha-entry formControlName="CashierTemplateId" [caption]="'Cashier Template Id' | translate" class="col-12" [ngClass]="{'ot-hidden': container.isIdentityHidden}" [isReadOnly]="!container.isIdentityEditable"></ot-alpha-entry>
    <ot-alpha-entry formControlName="CashierTemplateName" [caption]="'Cashier Template Name' | translate" class="col-12"></ot-alpha-entry>
  </form>
</ot-edit-screen-container>
