<ot-list-screen-container [header]="'Contract Draft Version' | translate" [breadcrumbItems]="breadcrumbItems" [showAsDetail]="isEmbedded">
  <kendo-grid [data]="isEmbedded ? dataList : dataService.activeList" [loading]="dataService.loading" [height]="615"
    [pageable]="listParams.pageable" [pageSize]="listParams.take" [skip]="listParams.skip"
    [sortable]= "true" [sort]="listParams.sort"
    [filterable]="true" [filter]="listParams.filter" 
    (dataStateChange)="handleDataStateChange($event)"
  >
    <kendo-grid-command-column *ngIf="createEnabled || updateEnabled || deleteEnabled" title="" [width]="commandColumnWidth" locked="true">
      <ng-container *ngIf="createEnabled">
        <ng-template kendoGridHeaderTemplate>
          <ot-button [caption]="'New' | translate" icon="fas fa-plus" (onClick)="showDialog(editScreen, 'Create')" [outline]="true" [block]="false" color="primary" size="sm"></ot-button>
        </ng-template>
      </ng-container>
      <ng-container *ngIf="updateEnabled || deleteEnabled">
        <ng-template kendoGridCellTemplate let-dataItem>
<!--          <ot-light-button *ngIf="updateEnabled" color="primary" otTooltip="{{ 'Update' | translate }}" icon="fas fa-edit" (onClick)="showDialog(editScreen, 'Update', dataItem)"></ot-light-button>-->
          <ot-light-button color="primary" otTooltip="{{ 'Read' | translate }}" icon="fas fa-search" (onClick)="showDialog(editScreen, 'Read', dataItem)"></ot-light-button>
          <ot-light-button *ngIf="deleteEnabled" color="danger" otTooltip="{{ 'Delete' | translate }}" icon="fas fa-trash-alt" (onClick)="showDialog(editScreen, 'Delete', dataItem)"></ot-light-button>
        </ng-template>
      </ng-container>
    </kendo-grid-command-column>
    <kendo-grid-column field="ContractDraftVersionId" [title]="'Contract Draft Version Id' | translate" width="180"></kendo-grid-column>
    <kendo-grid-column field="CreateDate" [title]="'Create Date' | translate" width="180">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.CreateDate | date:'dd.MM.yyyy hh:mm:ss' }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="ChangeDetails" [title]="'Change Details' | translate"></kendo-grid-column>
  </kendo-grid>
</ot-list-screen-container>
<ot-contract-draft-version-edit #editScreen screenName="ot-contract-draft-version-edit"></ot-contract-draft-version-edit>
