

<ot-list-screen-container [header]="'Current Prices' | translate" [breadcrumbItems]="breadcrumbItems" [showAsDetail]="isEmbedded">
  <kendo-grid [data]="dataService.activeList" [loading]="dataService.loading" [height]="615"
    [pageable]="listParams.pageable" [pageSize]="listParams.take" [skip]="listParams.skip" 
    [sortable]= "true" [sort]="listParams.sort" 
    [filterable]="true" [filter]="listParams.filter" (dataStateChange)="handleDataStateChange($event)">

    <kendo-grid-command-column width="40"> 
      <ng-template kendoGridHeaderTemplate>
        <ot-light-button color="success" icon="fas fa-file-excel" kendoGridExcelCommand></ot-light-button>
      </ng-template>
    </kendo-grid-command-column>

    <kendo-grid-column field="StoreName" [title]="'Store' | translate" width="150">
    </kendo-grid-column>
    <kendo-grid-column field="GroupCodeName" [title]="'Group' | translate" width="120"></kendo-grid-column>
    <kendo-grid-column field="ProductCodeName" [title]="'Product Code' | translate" width="120"></kendo-grid-column>
    <kendo-grid-column field="ProductName" [title]="'Product Name' | translate" width="180"></kendo-grid-column>
    <kendo-grid-column field="Barcode" [title]="'Barcode' | translate" width="150"></kendo-grid-column>
    <kendo-grid-column field="UnitName" [title]="'Unit' | translate" width="120" filter="numeric"></kendo-grid-column>
    <kendo-grid-column field="PackageName" [title]="'Package Name' | translate" width="180"></kendo-grid-column>
    <kendo-grid-column field="SalePrice" [title]="'Price' | translate" width="180" filter="numeric"></kendo-grid-column>
    <kendo-grid-column field="SaleVAT" [title]="'VAT' | translate" width="120" filter="numeric"></kendo-grid-column>
    <kendo-grid-column field="VersionTime" [title]="'Version Time' | translate" width="150" filter="date">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div *ngIf="dataItem.VersionTime">{{dataItem.VersionTime | date: 'dd.MM.yyyy HH:mm' }}</div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-excel [fileName]="'MevcutFiyatlar'" [fetchData]="allData"></kendo-grid-excel>
  </kendo-grid>
</ot-list-screen-container>
