<div class="row">
  <ol class="col-md-6 breadcrumb">
    <h4 class="ml-3">{{ 'Sipariş Pano '}}{{selectedStoreName}} {{selectedProductName}}</h4>
  </ol>
  <div class="col-md-6 breadcrumb">
    <div class="row float-right m-auto">
      <kendo-buttongroup class="col-md-6" [selection]="'single'">
        <!-- <button kendoButton [toggleable]="true" [selected]="true" (selectedChange)="onSelectedChange($event, 1)" >Gün</button> -->
        <button kendoButton [toggleable]="true" [selected]="true" (selectedChange)="onSelectedChange($event, 2)">Son 15 gün</button>
        <button kendoButton [toggleable]="true" (selectedChange)="onSelectedChange($event, 3)" >Son 30 gün</button>
      </kendo-buttongroup>
      <ot-date-entry class="col-md-6" [(value)]="baseDate" captionWidth="0" format="dd.MM.yyyy" (valueChange)="onBaseDateChange()" ></ot-date-entry>
    </div>
  </div>
</div>

<div class="container">
  <!-- <div *ngIf="categoryStore && !categoryStoreLoading" class="row">
      <div class="col-md-12 col-lg-6 col-xl-3 insidevalue">
        <ot-simple-widget
          [padding]="0"
          icon="shopping-cart"
          caption="Mağaza Sayısı"
          text="{{categoryStore.length}}"
        ></ot-simple-widget>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-3">
        <ot-simple-widget
          [padding]="0"
          color="success"
          icon="shopping-bag"
          caption="Satış / Müşteri"
          text="{{saleTotal | currency:'TRY':'symbol-narrow':'1.0-0':'tr'}} / {{customerTotal | number:'1.0-0':'tr'}}"
        ></ot-simple-widget>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-3">
        <ot-simple-widget
          [padding]="0"
          color="danger"
          icon="shopping-bag"
          caption="Fiş Başına Ürün"
          text="{{avgUnit | number:'1.2-2':'tr'}}"
        ></ot-simple-widget>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-3">
        <ot-simple-widget
          [padding]="0"
          color="warning"
          icon="shopping-bag"
          caption="Fiş Başına Satış"
          text="{{avgSale | currency:'TRY':'symbol-narrow':'1.2-2':'tr'}}"
        ></ot-simple-widget>
      </div>
  </div> -->
  
  <ot-panel *ngIf="dateData" [caption]="getSaleCaption()">
      <kendo-chart [seriesColors]="chartColors" >
          <kendo-chart-area [margin]="0" [height]="200"> </kendo-chart-area>
          <kendo-chart-legend position="top"></kendo-chart-legend>
          <kendo-chart-category-axis>
              <kendo-chart-category-axis-item [categories]="dateData.DATE_DT" baseUnit="fit" maxDateGroups="30" type="date"  >
              </kendo-chart-category-axis-item>
          </kendo-chart-category-axis>
          <kendo-chart-series>
            <kendo-chart-series-item type="line" [data]="dateData" field="BALANCE_AMT" categoryField="DATE_DT">
              <kendo-chart-series-item-tooltip>
                <ng-template let-dataItem="dataItem">
                  <!-- <div class="row"> -->
                      <!-- <div class="col-12" style="text-align: center"> -->
                          {{ dataItem.ORDER_AMT | number:'1.0-0':'tr'}} / {{ dataItem.SALE_AMT | number:'1.0-0':'tr'}}
                      <!-- </div> -->
                  <!-- </div> -->
                </ng-template>
              </kendo-chart-series-item-tooltip>
            </kendo-chart-series-item>
          </kendo-chart-series>            
        </kendo-chart>
  </ot-panel>

  <ot-panel [caption]="getProductCaption()">
    <kendo-grid [data]="productDataActiveList" [loading]="productDataLoading" [height]="400"
      [pageable]="false" [pageSize]="1000" [sortable]="true" [sort]="lpProductData.sort" 
      [filterable]="true" [filter]="lpProductData.filter" (dataStateChange)="handleStateChange($event, 1)" 
      [navigable]="true" [selectable]="selectableSettings" [kendoGridSelectBy]="'PRODUCTID'"
      [selectedKeys]="productSelection" (selectedKeysChange)="onSelectedKeysChange($event, 1)">
      <kendo-grid-checkbox-column width="60">
        <ng-template kendoGridHeaderTemplate>
          <ot-light-button color="success" icon="fas fa-file-excel" kendoGridExcelCommand></ot-light-button>
        </ng-template>
      </kendo-grid-checkbox-column>
      <kendo-grid-column field="CATEGORY_NM" [title]="'Kategori'" width="120"></kendo-grid-column>
      <kendo-grid-column field="PRODUCT_NM" [title]="'Ürün Adı'" width="150"></kendo-grid-column>
      <kendo-grid-column field="ORDER_QTY"  [title]="'Sipariş Miktar'" width="90" filter="numeric">
          <ng-template kendoGridCellTemplate let-dataItem>
              <span>{{dataItem.ORDER_QTY | number:'1.2-2':'tr'}}</span>
          </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="ORDER_AMT" [title]="'Sipariş Tutar'" width="120" filter="numeric">
          <ng-template kendoGridCellTemplate let-dataItem>
              <span>{{dataItem.ORDER_AMT | currency:'TRY':'symbol-narrow':'1.2-2':'tr'}}</span>
          </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="SALE_QTY"  [title]="'Satış Miktar'" width="90" filter="numeric">
          <ng-template kendoGridCellTemplate let-dataItem>
              <span>{{dataItem.SALE_QTY | number:'1.2-2':'tr'}}</span>
          </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="SALE_AMT" [title]="'Satış Tutar'" width="120" filter="numeric">
          <ng-template kendoGridCellTemplate let-dataItem>
              <span>{{dataItem.SALE_AMT | currency:'TRY':'symbol-narrow':'1.2-2':'tr'}}</span>
          </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="DIFF" [title]="'Fark Yüzde'" width="80" filter="numeric">
          <ng-template kendoGridCellTemplate let-dataItem>
              <span>{{dataItem.DIFF | percent:'1.2-2':'tr'}}</span>
          </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="CODE_NM" [title]="'Kod'" width="100"></kendo-grid-column>
      <kendo-grid-column field="BARCODE_TXT" [title]="'Barkod'" width="150"></kendo-grid-column>
      <kendo-grid-column field="SALE_PCT" [title]="'Ciro Oran'" width="80" filter="numeric">
          <ng-template kendoGridCellTemplate let-dataItem>
              <span>{{dataItem.SALE_PCT | percent:'1.2-2':'tr'}}</span>
          </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="SALECATEGORY_PCT" [title]="'Kategori Oran'" width="80" filter="numeric">
          <ng-template kendoGridCellTemplate let-dataItem>
              <span>{{dataItem.SALECATEGORY_PCT | percent:'1.2-2':'tr'}}</span>
          </ng-template>
      </kendo-grid-column>
      <kendo-grid-excel [fileName]="getProductFileName()"></kendo-grid-excel>
    </kendo-grid>
  </ot-panel>

  <ot-panel [caption]="getStoreCaption()">
    <kendo-grid [data]="storeDataActiveList" [loading]="storeDataLoading" [height]="400"
      [pageable]="false" [pageSize]="1000" [sortable]="true" [sort]="lpStoreData.sort" 
      [filterable]="true" [filter]="lpStoreData.filter" (dataStateChange)="handleStateChange($event, 2)" 
      [navigable]="true" [selectable]="selectableSettings" [kendoGridSelectBy]="'STOREID'" 
      [selectedKeys]="storeSelection" (selectedKeysChange)="onSelectedKeysChange($event, 2)">
      <kendo-grid-checkbox-column width="40">
        <ng-template kendoGridHeaderTemplate>
          <ot-light-button color="success" icon="fas fa-file-excel" kendoGridExcelCommand></ot-light-button>
        </ng-template>
      </kendo-grid-checkbox-column>
      <kendo-grid-column field="STORE_NM" [title]="'Mağaza Adı'" width="150"></kendo-grid-column>
      <kendo-grid-column field="ORDER_AMT" [title]="'Sipariş Tutar'" width="80" filter="numeric">
        <ng-template kendoGridCellTemplate let-dataItem>
          <span>{{dataItem.ORDER_AMT | currency:'TRY':'symbol-narrow':'1.2-2':'tr'}}</span>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="SALE_AMT" [title]="'Satış Tutar'" width="80" filter="numeric">
        <ng-template kendoGridCellTemplate let-dataItem>
          <span>{{dataItem.SALE_AMT | currency:'TRY':'symbol-narrow':'1.2-2':'tr'}}</span>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="DIFF" [title]="'Fark Yüzde'" width="80" filter="numeric">
          <ng-template kendoGridCellTemplate let-dataItem>
              <span>{{dataItem.DIFF | percent:'1.2-2':'tr'}}</span>
          </ng-template>
      </kendo-grid-column>
      <kendo-grid-excel [fileName]="getStoreFileName()"></kendo-grid-excel>
    </kendo-grid>
  </ot-panel>
    

</div>
