<ot-edit-screen-container #container>
  <form #form="ngForm" [formGroup]="container.mainForm" (ngSubmit)="onSubmit()" class="form-horizontal row">
    <ot-alpha-entry formControlName="AssignUserId" [caption]="'Assign User Id' | translate" class="col-12" [ngClass]="{'ot-hidden': container.isIdentityHidden}" [isReadOnly]="!container.isIdentityEditable"></ot-alpha-entry>
    <ot-alpha-entry formControlName="GroupName" [caption]="'Group Name' | translate" class="col-12"></ot-alpha-entry>
    <ot-dropdown-entry formControlName="ResponsibleUser" [caption]="'Responsible User' | translate" [items]="userService.completeList" textField="Name" valueField="UserId" usePrimitiveValue="true" class="col-12" [loading]="userService.loading"></ot-dropdown-entry>
    <ot-switch-entry formControlName="AdminFlag" [caption]="'Admin Flag' | translate" color="primary" labelStyle="check" class="col-12"></ot-switch-entry>
  </form>
</ot-edit-screen-container>
