<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
    <section name="OTApplication" type="Overtech.Core.OTConfigurationSection, Overtech.Core" />
    <section name="UniDataAccessLayer" type="Overtech.Service.Data.Uni.DALConfigurationSection, Overtech.Service.Data.Uni" />
    <section name="OTCacheServices" type="Overtech.Core.Cache.OTCacheServiceConfigurationSection, Overtech.Core.Cache" />
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="OverBPM" type="Overtech.API.BPM.OverBPMConfigurationSection, Overtech.API.BPM" />
  </configSections>
  <OverBPM defaultGateway="default">
    <Gateways>
      <!--<add name="default" url="http://37.310.113.226:15051/OverBPMService.svc" />-->
      <add name="default" url="http://lotiis03:15051/OverBPMService.svc" />
    </Gateways>
  </OverBPM>
  <OTApplication initiatorChannelId="1" tier="Service" environment="Development" programId="1" />
  <UniDataAccessLayer defaultdal="DAL_MSSQLDev">
    <add provider="Oracle" dalname="DAL_OracleDev" connection="Connection_OracleDev" callContextEnabled="true" />
    <add provider="MSSQL" dalname="DAL_MSSQLDev" connection="Connection_MSSQLDev" callContextEnabled="true" />
  </UniDataAccessLayer>
  <connectionStrings>
    <add name="Connection_OracleDev" connectionString="Data Source=lotoracle01:1521/OVERTECH;User Id=;Password=;" providerName="Oracle.DataAccess.Client" />
    <add name="Connection_MSSQLDev" connectionString="Data Source=lotmssql01;Database=OverCloudDev;User Id=sa;Password=Overtech*34;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <OTCacheServices defaultCacheProvider="WebCache" defaultDuration="15">
    <CacheServices>
      <add cacheService="OTDALDataModelAllListedCacheService" duration="60" />
    </CacheServices>
    <CachedDataModels>
    </CachedDataModels>
  </OTCacheServices>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="owin:AutomaticAppStartup" value="false" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>