<ot-custom-dialog #dialog [caption]="'Product Stocks' | translate" size="xl">
  <kendo-grid [data]="activeList" [height]="400"[pageable]="listParams.pageable" [pageSize]="listParams.take" [skip]="listParams.skip"
  [sortable]= "true" [sort]="listParams.sort" (dataStateChange)="handleDataStateChange($event)">
  
    <kendo-grid-command-column  [width]="75">
      <ng-template kendoGridHeaderTemplate>
        <ot-light-button color="success" icon="fas fa-file-excel" kendoGridExcelCommand></ot-light-button>
      </ng-template>  
    </kendo-grid-command-column >
    <!-- <kendo-grid-column field="PRODUCTID" [title]="'Id' | translate" width="50" filter="numeric"></kendo-grid-column> -->
    <kendo-grid-column field="CATEGORY_NM" [title]="'Category' | translate" ></kendo-grid-column>
    <kendo-grid-column field="CODE_NM" [title]="'Product Code' | translate" filter="numeric" ></kendo-grid-column>
    <kendo-grid-column field="NAME_NM" [title]="'Product Name' | translate" width="250"></kendo-grid-column>
    <kendo-grid-column field="AVGDAILYSALE_QTY" [title]="'Daily Sale Quantity' | translate" filter="numeric">
      <ng-template kendoGridCellTemplate let-dataItem>
          <span>{{dataItem.AVGDAILYSALE_QTY | number:'1.2-2':'tr'}}</span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="AVGDAILYSALE_AMT" [title]="'Daily Sale Amount' | translate" filter="numeric">
        <ng-template kendoGridCellTemplate let-dataItem>
            <span>{{dataItem.AVGDAILYSALE_AMT | number:'1.2-2':'tr'}}</span>
        </ng-template>
      </kendo-grid-column>
    <kendo-grid-column field="STOCK" [title]="'Stock' | translate" width="100" filter="numeric">
      <ng-template kendoGridCellTemplate let-dataItem>
        <span>{{dataItem.STOCK | number:'1.2-2':'tr'}}</span>
      </ng-template>
    </kendo-grid-column>    
    <kendo-grid-column field="STOCKTURNOVER" [title]="'Stok Devir Hızı'" width="100" filter="numeric">
      <ng-template kendoGridCellTemplate let-dataItem>
        <span>{{dataItem.STOCKTURNOVER | number:'1.2-2':'tr'}}</span>
      </ng-template>
    </kendo-grid-column>    
    
    <kendo-grid-excel [fileName]="getFileName()"></kendo-grid-excel>
  </kendo-grid>
</ot-custom-dialog>