<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
		<section name="OTApplication" type="Overtech.Core.OTConfigurationSection, Overtech.Core" />
		<section name="Daemon" type="Overtech.Core.Daemon.DaemonConfigurationSection, Overtech.Core.Daemon" />
		<section name="OTCache" type="Overtech.Core.Cache.OTCacheConfigurationSection, Overtech.Core.Cache" />
		<section name="OTCacheServices" type="Overtech.Core.Cache.OTCacheServiceConfigurationSection, Overtech.Core.Cache" />
		<section name="OTServices" type="Overtech.Service.OTServiceConfigurationSection, Overtech.Service" />
		<section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
	</configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
	<OTApplication initiatorChannelId="1" tier="Daemon" environment="Development" programId="1" channelId="1" channelName="Daemon" userId="5" userName="Admin" languageId="1" languageName="English" organizationId="1" organizationName="System" branchId="5" branchName="System" screenId="1" screenName="System" actionId="1" actionName="System" />
	<Daemon machineId="1">
		<Workers>
			<Worker name="StoreUpload" workshopType="Simple" workerConcreteType="Overtech.Shared.Daemon.OverStore.CashRegisterUploadWorker, Overtech.Shared.Daemon.OverStore" itemConcreteType="System.Object, mscorlib">
				<WorkerParameters>
					<add name="ChiefCheckInterval" value="600" />
					<add name="ActionTimeout" value="600" />
					<add name="SpinInterval" value="60" />
					<add name="CashRegisterId" value="211" />
					<add name="StoreId" value="21" />
					<add name="RestClientAddress" value="http://localhost:61435/" />
					<add name="SaleFileFolder" value="c:\Documents\ROOT\92_ConLgAll.Dat" />
					<add name="AdditionalFileFolder" value="c:\Documents\ROOT\LoadFile" />
				</WorkerParameters>
				<RuntimeParameters>
					<add name="WorkerCount" value="1" />
				</RuntimeParameters>
			</Worker>
			<Worker name="CreatePriceFile" workshopType="Simple" workerConcreteType="Overtech.Shared.Daemon.OverStore.StoreCreatePriceFile, Overtech.Shared.Daemon.OverStore" itemConcreteType="System.Object, mscorlib">
				<WorkerParameters>
					<add name="ChiefCheckInterval" value="600" />
					<add name="ActionTimeout" value="600" />
					<add name="SpinInterval" value="60" />
					<add name="StoreId" value="21" />
					<add name="RestClientAddress" value="http://localhost:61435/" />
				</WorkerParameters>
				<RuntimeParameters>
					<add name="WorkerCount" value="1" />
				</RuntimeParameters>
			</Worker>
		</Workers>
	</Daemon>

	<OTCache provider="RuntimeCache" connectionName="N/A" />

	<OTCacheServices defaultCacheProvider="RuntimeCache" defaultDuration="15">
		<CacheServices>
		</CacheServices>
		<CachedDataModels>
		</CachedDataModels>
	</OTCacheServices>

  <connectionStrings>
    <add name="Credentials" connectionString="User Name = Daemon; Password = OTDaemon!4321" />
  </connectionStrings>

	<log4net>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Log\Log.txt" />
			<appendToFile value="true" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="10MB" />
			<rollingStyle value="Size" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger %method - %message%newline%newline" />
			</layout>
		</appender>
		<root>
			<level value="ALL" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
	</log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.122.0.0 - 4.65535.65535.65535" newVersion="4.122.18.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.4.2.0" newVersion="106.4.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>