<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="OTApplication" type="Overtech.Core.OTConfigurationSection, Overtech.Core" />
    <section name="UniDataAccessLayer" type="Overtech.Service.Data.Uni.DALConfigurationSection, Overtech.Service.Data.Uni" />
    <section name="OTCacheServices" type="Overtech.Core.Cache.OTCacheServiceConfigurationSection, Overtech.Core.Cache" />
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="OverBPM" type="Overtech.API.BPM.OverBPMConfigurationSection, Overtech.API.BPM" />
    <section name="OTCache" type="Overtech.Core.Cache.OTCacheConfigurationSection, Overtech.Core.Cache" />
  </configSections>
  <OverBPM defaultGateway="default">
    <Gateways>
      <add name="default" url="http://37.130.113.226:15051/OverBPMService.svc" />
    </Gateways>
  </OverBPM>
  <OTApplication initiatorChannelId="1" tier="Service" environment="Development" programId="1" />
  <UniDataAccessLayer defaultdal="DAL_MSSQLDev">
    <add provider="Oracle" dalname="DAL_OracleDev" connection="Connection_OracleDev" callContextEnabled="true" />
    <add provider="MSSQL" dalname="DAL_MSSQLDev" connection="Connection_MSSQLDev" callContextEnabled="true" />
  </UniDataAccessLayer>
  <connectionStrings>
		<add name="Connection_OracleDev" connectionString="Data Source=lotoracle01:1521/OVERTECH;User Id=;Password=;" providerName="Oracle.DataAccess.Client" />
		<add name="Connection_MSSQLDev" connectionString="Data Source=lotmssql01;Database=OverCloudDev;User Id=sa;Password=Overtech*34;" providerName="System.Data.SqlClient" />
	</connectionStrings>
  <OTCacheServices defaultCacheProvider="WebCache" defaultDuration="15">
    <CacheServices>
      <add cacheService="OTDALDataModelAllListedCacheService" duration="60" />
      <add cacheService="PrivateParameterCacheService" duration="60" />
      <add cacheService="PublicParameterCacheService" duration="60" />
      <add cacheService="SystemParameterCacheService" duration="60" />
      <add cacheService="EventParameterCacheService" duration="60" />
    </CacheServices>
    <CachedDataModels>
      <add dataModel="Overtech.DataModels.Parameter.Error, Overtech.DataModels.Parameter" cacheAllEnabled="true" isServiceCache="true" />
      <add dataModel="Overtech.DataModels.Parameter.Event, Overtech.DataModels.Parameter" cacheAllEnabled="true" isServiceCache="true" />
      <add dataModel="Overtech.DataModels.Parameter.EventType, Overtech.DataModels.Parameter" cacheAllEnabled="true" isServiceCache="true" />
      <add dataModel="Overtech.DataModels.Parameter.Language, Overtech.DataModels.Parameter" cacheAllEnabled="true" isServiceCache="true" />
    </CachedDataModels>
  </OTCacheServices>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="owin:AutomaticAppStartup" value="false" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxArrayLength="2147483647" maxStringContentLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.4.2.0" newVersion="106.4.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="7.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>