<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="7.0.1" targetFramework="net47" />
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net47" />
  <package id="CompareNETObjects" version="4.63.0" targetFramework="net47" />
  <package id="log4net" version="2.0.8" targetFramework="net47" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.2" targetFramework="net47" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.6" targetFramework="net47" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.6" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net47" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net47" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.0.0" targetFramework="net47" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net47" />
  <package id="Oracle.ManagedDataAccess" version="18.3.0" targetFramework="net47" />
  <package id="Overtech.Core" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.Core.Application" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.Core.Cache" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.Core.Data" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.Core.Data.QueryBuilder" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.Core.DependencyInjection" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.Core.Logger" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.Core.Organization" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.Core.Session" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.DataModels.Organization" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.DataModels.Security" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.Service.Data.Uni" version="1.0.0" targetFramework="net47" />
  <package id="Owin" version="1.0" targetFramework="net47" />
  <package id="StackExchange.Redis.StrongName" version="1.2.6" targetFramework="net47" />
  <package id="System.Collections.Specialized" version="4.3.0" targetFramework="net47" />
  <package id="System.Configuration.ConfigurationManager" version="4.4.1" targetFramework="net47" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net47" />
  <package id="Unity" version="5.8.11" targetFramework="net47" />
</packages>