<ot-edit-screen-container #container>
  <form #form="ngForm" [formGroup]="container.mainForm" (ngSubmit)="onSubmit()" class="form-horizontal row">
    <ot-dropdown-entry *ngIf="!container.leftRelationId" formControlName="Group" [caption]="'Group' | translate" [items]="container.leftRelationId ? [container.leftRelationObject] : groupList"
      [isReadOnly]="container.leftRelationId" textField="Name" valueField="GroupId" usePrimitiveValue="true" class="col-12" [loading]="groupService.loading"></ot-dropdown-entry>
    <ot-dropdown-entry formControlName="User"  [caption]="'User' | translate" [items]="container.rightRelationId > 0 ? activeUsers : userList "
      [isReadOnly]="container.rightRelationId" textField="Name" valueField="UserId" usePrimitiveValue="true" class="col-12" [loading]="userService.loading"></ot-dropdown-entry>
  </form>
</ot-edit-screen-container>
