<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="OTApplication" type="Overtech.Core.OTConfigurationSection, Overtech.Core" />
    <section name="UniDataAccessLayer" type="Overtech.Service.Data.Uni.DALConfigurationSection, Overtech.Service.Data.Uni" />
    <section name="OTCacheServices" type="Overtech.Core.Cache.OTCacheServiceConfigurationSection, Overtech.Core.Cache" />
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
  </configSections>
  <OTApplication initiatorChannelId="1" tier="Service" environment="Development" programId="1" />
  <UniDataAccessLayer defaultdal="DAL_MSSQLDev">
    <add provider="Oracle" dalname="DAL_OracleDev" connection="Connection_OracleDev" callContextEnabled="true" />
    <add provider="MSSQL" dalname="DAL_MSSQLDev" connection="Connection_MSSQLDev" callContextEnabled="true" />
  </UniDataAccessLayer>
  <connectionStrings>
    <add name="Connection_OracleDev" connectionString="Data Source=lotoracle01:1521/OVERTECH;User Id=;Password=;" providerName="Oracle.DataAccess.Client" />
    <add name="Connection_MSSQLDev" connectionString="Data Source=lotmssql01;Database=OvertechDev;User Id=;Password=;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <OTCacheServices defaultCacheProvider="WebCache" defaultDuration="15">
    <CacheServices>
      <add cacheService="OTDALDataModelAllListedCacheService" duration="60" />
    </CacheServices>
    <CachedDataModels>
    </CachedDataModels>
  </OTCacheServices>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="owin:AutomaticAppStartup" value="false" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>