.k-grid .form-group {
    margin-bottom: 0; 
    padding: 0;
    white-space: nowrap;
    line-height: 11px;
}

.priceSave-btn{
    text-align: right !important;
    padding-right: 2%;
    margin-bottom: 1%;
}

.pricePrint-btn{
    text-align: right !important;
    padding-right: 2%;
    margin-bottom: 1%;
}
