<ot-edit-screen-container #container>
  <form #form="ngForm" [formGroup]="container.mainForm" (ngSubmit)="onSubmit()" class="form-horizontal row">
    <ot-alpha-entry formControlName="DiffReasonId" [caption]="'Diff Reason Id' | translate" class="col-12" [ngClass]="{'ot-hidden': container.isIdentityHidden}" [isReadOnly]="!container.isIdentityEditable"></ot-alpha-entry>
    <ot-alpha-entry formControlName="ReasonName" [caption]="'Reason Name' | translate" class="col-12"></ot-alpha-entry>
    <ot-switch-entry formControlName="ShortFlag" [caption]="'Short Flag' | translate" color="primary" labelStyle="check" class="col-12"></ot-switch-entry>
  </form>
</ot-edit-screen-container>
