<ot-list-screen-container [header]="'Product Category' | translate" [breadcrumbItems]="breadcrumbItems" [showAsDetail]="isEmbedded">
  <kendo-grid [data]="isEmbedded ? dataList : dataService.activeList" [loading]="dataService.loading" [height]="575"
    [pageable]="listParams.pageable" [pageSize]="listParams.take" [skip]="listParams.skip"
    [sortable]= "true" [sort]="listParams.sort"
    (dataStateChange)="handleDataStateChange($event)"
  >
    <kendo-grid-command-column *ngIf="createEnabled || readEnabled || updateEnabled || deleteEnabled" title="" [width]="commandColumnWidth" locked="true">
      <ng-container *ngIf="createEnabled">
        <ng-template kendoGridHeaderTemplate>
          <ot-button [caption]="'New' | translate" icon="fa fa-plus fa-fw" (onClick)="showDialog(editScreen, 'Create')" [block]="false" color="primary" size="sm"></ot-button>
        </ng-template>
      </ng-container>
      <ng-container *ngIf="readEnabled || updateEnabled || deleteEnabled">
        <ng-template kendoGridCellTemplate let-dataItem>
          <ot-light-button *ngIf="readEnabled" color="primary" (onClick)="showDialog(editScreen, 'Read', dataItem)"><i class="fa fa-search"></i></ot-light-button>
          <ot-light-button *ngIf="updateEnabled" color="primary" (onClick)="showDialog(editScreen, 'Update', dataItem)" icon="fas fa-edit"></ot-light-button>
          <ot-light-button *ngIf="deleteEnabled" color="danger" (onClick)="showDialog(editScreen, 'Delete', dataItem)" icon="fas fa-trash-alt"></ot-light-button>
        </ng-template>
      </ng-container>
    </kendo-grid-command-column>
    <kendo-grid-column field="Category" [title]="'Category' | translate" width="180"></kendo-grid-column>
    <kendo-grid-column field="Comment" [title]="'Comment' | translate" width="180"></kendo-grid-column>
    <ng-template kendoGridDetailTemplate let-dataItem>
      <ot-tab-strip>
        <ot-tab-page [title]="'Subgroups' | translate" active="true">
          <ot-subgroup-list [isEmbedded]="true" [masterId]="dataItem.CategoryID"></ot-subgroup-list>
        </ot-tab-page>
      </ot-tab-strip>
    </ng-template>
  </kendo-grid>
</ot-list-screen-container>
<ot-product-category-edit #editScreen screenName="ot-product-category-edit"></ot-product-category-edit>
