<ot-edit-screen-container #container>
  <form #form="ngForm" [formGroup]="container.mainForm" (ngSubmit)="onSubmit()" class="form-horizontal row">
    <ot-alpha-entry formControlName="BanknoteId" [caption]="'Banknote Id' | translate" class="col-12" [ngClass]="{'ot-hidden': container.isIdentityHidden}" [isReadOnly]="!container.isIdentityEditable"></ot-alpha-entry>
    <ot-numeric-entry formControlName="BanknoteAmount" [caption]="'Banknote Amount' | translate" class="col-12"></ot-numeric-entry>
    <ot-switch-entry formControlName="CoinFlag" [caption]="'Coin Flag' | translate" color="primary" labelStyle="check" class="col-12"></ot-switch-entry>
  </form>
</ot-edit-screen-container>
