<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net47" />
  <package id="AutoMapper" version="7.0.1" targetFramework="net47" />
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net47" />
  <package id="CompareNETObjects" version="4.63.0" targetFramework="net47" />
  <package id="EPPlus" version="4.5.3.2" targetFramework="net47" />
  <package id="ExpressionEvaluator" version="2.0.4.0" targetFramework="net47" />
  <package id="HtmlAgilityPack" version="1.11.17" targetFramework="net47" />
  <package id="log4net" version="2.0.8" targetFramework="net47" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.2" targetFramework="net47" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.2" targetFramework="net47" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.6" targetFramework="net47" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net47" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.6" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net47" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.3.0" targetFramework="net47" />
  <package id="Microsoft.IdentityModel.Logging" version="5.3.0" targetFramework="net47" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.3.0" targetFramework="net47" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net47" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.0.0" targetFramework="net47" />
  <package id="Microsoft.Owin.Security" version="4.0.0" targetFramework="net47" />
  <package id="Microsoft.Owin.Security.Cookies" version="4.0.0" targetFramework="net47" />
  <package id="Microsoft.Owin.Security.OAuth" version="4.0.0" targetFramework="net47" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net47" />
  <package id="Oracle.ManagedDataAccess" version="18.3.0" targetFramework="net47" />
  <package id="Overtech.API.BPM" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.Core" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.Core.Application" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.Core.BPM" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.Core.Cache" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.Core.Compression" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.Core.Contract" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.Core.Crypto" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.Core.Data" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.Core.Data.QueryBuilder" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.Core.DependencyInjection" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.Core.Jwt" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.Core.Logger" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.Core.Serialization" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.Core.Session" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.DataModels.BPMAction" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.DataModels.BPMCore" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.DataModels.Contact" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.DataModels.Document" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.DataModels.Organization" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.DataModels.Parameter" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.DataModels.Program" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.DataModels.Reporting" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.DataModels.Security" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.Mutual.DocumentManagement" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.Mutual.Parameter" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.Mutual.Security" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.Service" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.Service.Authorization" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.Service.Authorization.Mvc" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.Service.Data.Uni" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.Service.Identity" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.Service.Security" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.ServiceContracts.Parameter" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.ServiceContracts.Program" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.ServiceContracts.Reporting" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.ServiceContracts.Security" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.Shared.BPM" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.Shared.Configuration" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.Shared.Parameter" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.Shared.Reporting" version="1.0.0" targetFramework="net47" />
  <package id="Overtech.UI.Data.Annotations" version="1.0.0" targetFramework="net47" />
  <package id="Owin" version="1.0" targetFramework="net47" />
  <package id="RestSharp" version="106.4.2" targetFramework="net47" />
  <package id="StackExchange.Redis.StrongName" version="1.2.6" targetFramework="net47" />
  <package id="System.Collections.Specialized" version="4.3.0" targetFramework="net47" />
  <package id="System.Configuration.ConfigurationManager" version="4.5.0" targetFramework="net47" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net47" />
  <package id="System.Data.HashFunction.Core" version="2.0.0" targetFramework="net47" />
  <package id="System.Data.HashFunction.Interfaces" version="2.0.0" targetFramework="net47" />
  <package id="System.Data.HashFunction.xxHash" version="2.0.0" targetFramework="net47" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.3.0" targetFramework="net47" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net47" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net47" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net47" />
  <package id="Unity" version="5.8.11" targetFramework="net47" />
  <package id="Unity.Mvc5" version="1.3.0" targetFramework="net47" />
  <package id="Unity.WebAPI" version="5.3.0" targetFramework="net47" />
  <package id="WebGrease" version="1.6.0" targetFramework="net47" />
</packages>