<ot-edit-screen-container #container>
  <form #form="ngForm" [formGroup]="container.mainForm" (ngSubmit)="onSubmit()" class="form-horizontal row">
    <ot-alpha-entry formControlName="AccountingDepartmentId" [caption]="'Accounting Department Id' | translate" class="col-12" [ngClass]="{'ot-hidden': container.isIdentityHidden}" [isReadOnly]="!container.isIdentityEditable"></ot-alpha-entry>
    <ot-alpha-entry formControlName="DepartmentName" [caption]="'Department Name' | translate" class="col-12"></ot-alpha-entry>
    <ot-dropdown-entry formControlName="Store" [caption]="'Store' | translate" [items]="storeService.completeList" textField="Name" valueField="StoreId" usePrimitiveValue="true" class="col-12" [loading]="storeService.loading"></ot-dropdown-entry>
    <ot-alpha-entry formControlName="ExpenseCenter" [caption]="'Expense Center' | translate" class="col-12"></ot-alpha-entry>
  </form>
</ot-edit-screen-container>
