<ot-edit-screen-container #container>
  <form #form="ngForm" [formGroup]="container.mainForm" (ngSubmit)="onSubmit()" class="form-horizontal row">
    <ot-alpha-entry formControlName="CashRegisterModelId" [caption]="'Cash Register Model Id' | translate" class="col-12" [ngClass]="{'ot-hidden': container.isIdentityHidden}" [isReadOnly]="!container.isIdentityEditable"></ot-alpha-entry>
    <ot-dropdown-entry formControlName="Brand" [caption]="'Brand' | translate" [items]="cashRegisterBrandService.completeList" textField="Name" valueField="CashRegisterBrandId" usePrimitiveValue="true" class="col-12"></ot-dropdown-entry>
    <ot-alpha-entry formControlName="Name" [caption]="'Name' | translate" class="col-12"></ot-alpha-entry>
    <ot-alpha-entry formControlName="Description" [caption]="'Description' | translate" class="col-12"></ot-alpha-entry>
  </form>
</ot-edit-screen-container>
