<ot-edit-screen-container #container>
  <form #form="ngForm" [formGroup]="container.mainForm" (ngSubmit)="onSubmit()" class="form-horizontal row">
    <ot-alpha-entry formControlName="RequestGroupId" [caption]="'Request Group Id' | translate" class="col-12" [ngClass]="{'ot-hidden': container.isIdentityHidden}" [isReadOnly]="!container.isIdentityEditable"></ot-alpha-entry>
    <ot-alpha-entry formControlName="RequestGroupName" [caption]="'Request Group Name' | translate" class="col-12"></ot-alpha-entry>
    <ot-numeric-entry formControlName="DisplayOrder" [caption]="'Display Order' | translate" class="col-12"></ot-numeric-entry>
    <ot-switch-entry formControlName="ActiveFlag" [caption]="'Active Flag' | translate" color="primary" labelStyle="check" class="col-12"></ot-switch-entry>
  </form>
</ot-edit-screen-container>
